* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav {
    background: #000000;
}
.logo {
    width: 100px;
}
/*login*/
#ingresar {
    border: 1px solid #000000;
    background-color: #870054;
    color: #fff;
}
/*banner*/
.banner {
    width: 100%;
    height: 600px;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(war.jpg);
    box-shadow: 20px 20px 7px;
}
.capa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}
.banner .info .container {
    margin-top: 7rem;
}
.info {
    z-index: 1;
    width: 100%;
}
.info h1 {
    color: #fff;
    font-size: 68px;
    margin-bottom: 20px;
    text-shadow: 2px 1px 1px rgb(0, 0, 0);
}
.banner .info h1 span {
    color: #870054;
}
.info h2 {
    color: #fff;
    font-size: 49px;
    line-height: 1.7;
    text-shadow: 2px 1px 1px rgb(0, 0, 0);
}
/*sobre mi*/
.container {
    margin-top: 6em;
}
.container .col-sm-4 {
    padding: 25px;
}
.container .foto {
    width: 100%;
    box-shadow: 20px 20px 1px #870054;
}
.container .col-sm-8 {
    padding: 25px;
}
.container .col-sm-8 h2 {
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #870054;
    text-decoration-thickness: 3px;
}
.container .col-sm-8 h1 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}
.container .col-sm-8 h1 span {
    color: #870054;
}
.container .col-sm-8 h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.container .col-sm-8 p {
    font-size: 14px;
    line-height: 25px;
    color: #313131;
    margin-bottom: 12px;
}
.container .col-sm-8 a {
    margin-top: 20px;
    position: relative;
    border: 1px solid #000000;
}
.container .col-sm-8 a:hover{
    background-color:  #868686;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*experiencia*/
.experiencia-laboral {
    background-color: #000000;
    margin-top: 6em;
    text-align: center;
    padding: 90px 0;
    box-shadow: 10px 20px 1px #870054;
}
.experiencia-laboral h3 {
    color: #fff;
    font-size: 27px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #870054;
    text-decoration-thickness: 3px;
}
.experiencia-laboral h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px
}
.experiencia-laboral hr {
    color: #fff;
}
/*educacion*/
.educacion {
    text-align: center;
    padding: 90px 0;
}
.educacion h1 {
    font-size: 27px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #870054;
    text-decoration-thickness: 3px;
}
.educacion h2 {
    font-weight: bold;
    letter-spacing: 2px;
}
.educacion h5 {
    font-weight: bold;
    letter-spacing: 2px;
}
.educacion h4 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 1px
}
.educacion p {
    font-size: 14px;
    line-height: 25px;
    color: #313131;
    margin-bottom: 12px;
}
.educacion .container.text-center .row {
    margin: 30px 0;
}
/*habilidades*/
.habilidades {
    background: linear-gradient(#870054, rgba(33, 16, 16, 0.9));
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 100px;
    text-align: center;
    color: #fff;
}
.habilidades h3 {
    font-size: 27px;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-thickness: 3px;
}
.skills:not(:last-child) {
    margin-bottom: 30px;
}
.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.menu {
    position: relative;
    border: 1px solid #868686;
    border-radius: 20px;
}
.menu div {
    position: relative;
    width: 0;
    height: 8px;
    border-radius: 10px;
    background-color: #868686;
}
/*animacion*/
#html-menu {
    animation: html-barra 2s forwards;
}
@keyframes html-barra {
    100% {
        width: 86%;
    }
}
#css-menu {
    animation: css-barra 2s forwards;
}
@keyframes css-barra {
    100% {
        width: 77%;
    }
}
#js-menu {
    animation: js-barra 2s forwards;
}
@keyframes js-barra {
    100% {
        width: 25%;
    }
}
#bootstrap-menu {
    animation: bootstrap-barra 2s forwards;
}
@keyframes bootstrap-barra {
    100% {
        width: 63%;
    }
}
/*proyectos*/
.proyectos {
    background-color: #c4c4c4;
    text-align: center;
    padding: 100px 0;
    color: rgb(0, 0, 0);
    box-shadow: 10px 20px 1px #ffffff;
}
.proyectos h3 {
    font-size: 27px;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #870054;
    text-decoration-thickness: 3px;
}
.proyectos hr {
    color: #000000;
}
.proyectos h5 {
    font-weight: bold;
    letter-spacing: 2px;
}
.proyectos h4 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 1px
}
/*footer*/
.footer {
    background-color: #000000;
    height: 150px;
    text-align: center;
    color: #fff;
    padding: 40px;
}

/*dashboard*/
#guardar {
    margin-top: 10px;
    
    background-color: #870054;
    color: #fff;
    margin-bottom: 10px;
}
#button {
    text-align: right;
}
/*banner boton*/
#botonbanner {
    position: relative;
    border: 1px solid #ffffff;
}
#botonbanner:hover {
    background-color:  #870054;
    color: rgb(0, 0, 0);
}
/*perfil boton*/
#perfilbuton {
    margin-top: 20px;
    position: relative;
    border: 1px solid #000000;
}
#perfilbuton:hover {

 background-color:  #870054;
 color: #fff;
 border: 1px solid #fffdfd;
}
/*experiencia boton*/
#exboton {
    border: 1px solid #ffffff;
}
#exboton:hover {
    background-color:  #870054;
}
/*educacion boton*/
#educacionboton {
    border: 1px solid #000000;
}
#educacionboton:hover {
    background-color:  #870054;
    border: 1px solid #ffffff;
    color: #fff;
}